<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div>
    <ul>
        <!-- 모델에 추가한 동영상 리스트를 순회하며 출력합니다. -->
        <li th:each="content : ${contents}">
            <!-- 카드로 감싸기 -->
            <div class="card">
                <iframe th:src="@{'https://www.youtube.com/embed/' + ${content.id}}"></iframe>
                <h2 th:text="${content.snippet.title}"></h2>
                <!-- 동영상 설명을 감싸는 div 요소에 클래스 추가 -->
                <div class="description-container" th:attr="data-content-length=${#strings.length(content.snippet.description)}">
                    <p th:text="${content.snippet.description}"></p>
                </div>
                <!-- 토글 버튼을 추가합니다. -->
                <a href="javascript:void(0)" class="toggle-btn" th:if="${#strings.length(content.snippet.description) > 120}" onclick="toggleDescription(this)">
                    더보기
                </a>
            </div>
        </li>
    </ul>
</div>
<script src="/js/home.js"></script>

</body>
</html>